#pgwModal .pm-container{
	position: absolute;
	left: 0;
	top:0;
	margin: 0;
}
#pgwModal .pm-container{
	text-align: left;
	width: 100%;
}
#pgwModal .pm-body{
	border-radius: 0;
	width: 70%;
	min-width: 100px;
	background:rgba(18,18,18,0.9); 
}
.slidedBody{
	position: relative;	
	left: 70%;
	overflow:-Scroll;
	overflow-x:hidden;
}

.pgwModal .pm-body{
	box-shadow: none;
}
.pgwModal .pm-close span.pm-icon{
	display: none;
}
.pgwModal .pm-content{
	padding: 0;
	background:transparent;
}