::-webkit-scrollbar{width:10px;height:10px}
::-webkit-scrollbar-button:vertical{display:none}
::-webkit-scrollbar-corner,::-webkit-scrollbar-track{background-color:#e2e2e2}
::-webkit-scrollbar-thumb{border-radius:0;background-color:rgba(0,0,0,.3)}
::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,.35)}
::-webkit-scrollbar-thumb:vertical:active{background-color:rgba(0,0,0,.38)}
.layui-layout-vipiao .layui-side .layui-nav-item .layui-icon{
	margin-right: 6px;
}
.layui-layout-vipiao .layui-side .layui-nav-item .layui-nav-child a{
	padding-left: 45px;
}
.blank30{clear: both;height: 30px;overflow: hidden;display: block;}

.custom_nav{height: 60px; line-height: 60px;margin: 0 20px;border-bottom: solid 2px #ccc;}
.custom_nav li{float: left;width: 70px;cursor: pointer;text-align: center;}
.custom_nav li:hover{color: #666;}
.show{border-bottom: solid 2px green;}
.postTicBtn{float: right;margin-top: 10px;}

/*首页*/
.index_container{padding: 20px;}
.index_left{float: left; width: 65%;}
.index_right{float: right; width: 33%}
/*首页上半部分*/
.index_top{
	width: 100%;
	height: 173px;
	border: solid 1px #ddd;
	box-sizing: border-box;
	border-radius: 5px;
}
.index_top>div{padding: 20px; height: 80px;	}
.index_top>div>ul{float: left; margin-top: 10px;}
.index_top>div>ul>li{line-height: 30px;}
.index_top_headerImg{
	float: left;
	width: 80px;
	border-radius: 50%;
	margin-right: 15px;
}
.index_top_official{width: 20px;}
.index_top_btn{float: right; margin-top: 20px;}

.index_top>p{padding: 16px 20px; background: #f5f5f5;}
.index_top_balance{color: #f00;}
.index_top_changeInfo{float: right;}
.index_top_changeInfo a{color: #29749b!important;}
/*首页下半部分*/
.index_bottom, .index_middle, .index_notice, .salesInfo{border: solid 1px #ddd; border-radius: 5px;}
.index_bottom_title{
	font-size: 18px;
	border-left: solid 4px #f00;
	padding-left: 30px;
	margin-top: 20px;
}
.index_bottom_content, .index_middle_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
}
.index_bottom_content>li, .index_middle_content>li{
	height: 155px;
	color: #fff;
	font-size: 10px;
	width: 30%;
	border-radius: 5px
	margin-top: 30px;
	background: #dbc795;
	margin-top: 30px;
}
.index_bottom_content li:nth-of-type(2){
	background: #b3c2be;
	margin: 0 3%;
	margin-top: 30px;
}
.index_bottom_content li:nth-of-type(3){background: #bcb6d0;}
.index_middle_content li:nth-of-type(1){background: #f59175;}
.index_middle_content li:nth-of-type(2){
	background: #e5728d;
	margin: 0 3%;
	margin-top: 30px;
}
.index_middle_content li:nth-of-type(3){background: #bdbdbd;}
.index_bottom_content li p{margin: 20px;}
.index_bottom_content li h3{
	font-size: 35px;
	text-align: center;
	margin-top: 30px;
}
.index_middle_content li p{text-align: center; line-height: 155px;}

.index_notice{padding: 15px;}
.index_notice h3{font-size: 17px; font-weight: 700; height: 30px;border-bottom: solid 1px #aaa;}
.index_notice h3 span{float: right; font-weight: 400; font-size: 14px;}
.index_notice ul{margin-top: 10px;}
.index_notice ul li{line-height: 25px;}
.index_notice ul li span{float: right;}

.salesInfo{padding: 15px;}
.salesInfo ul{height: 60px;}
.salesInfo li{float: left; border-right: solid 1px #999; text-align: center; width: 40%;}
.salesInfo li:last-of-type{border-right: none;}
.salesInfo li h3{font-size: 16px; font-weight: 600;margin-top: 10px;}
/*个人信息*/
.layui-body .personalInfo_nav{
	background: #eee;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	margin: 20px;
}
.personalInfo_form .layui-form-label{ width: 100px; }

/*订单列表*/
.listOrders_form .layui-form-item .layui-input-inline{margin-bottom: 20px;}
.listOrders_form .layui-form-item button{margin-left: 30px;}
